*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #ebeeed;
}

body {
  background-color: red;
}

ul,
ul li {
  list-style-type: none;
}

a {
  color: #ebeeed;
  text-decoration: none;
}

.main-container {
  height: 100vh;
  width: 100%;
  background: #051320;
  overflow: hidden;
}

.inner-container {
  display: grid;
  grid-template-areas:
    "theader"
    "mcontent"
    "qfooter";
  padding: 2rem;
}

.top-header {
  grid-area: theader;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-content {
  grid-area: mcontent;
}

.quote-footer {
  grid-area: qfooter;
}

.header-links {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-links .link-item {
  background-color: brown;
  margin-right: 1.2rem;
  padding: 0.2rem 0.4rem;
  transition: all 0.1s ease-in-out;
}

.header-links .link-item:hover {
  text-decoration: underline;
}

.quote-footer {
  background: red;
  color: #ebeeed;
  margin-top: auto;
  text-align: center;
}

.quote-footer .quotation {
  font-style: italic;
}

.quote{
  background: brown;
  display:inline-block;
  padding: 1rem;
}


.main-content {
  background: green;
  padding: 1.5rem 1rem;
  display: flex;
  gap: 1rem;
}

.main-content .world-clock,
.main-content .search-field {
  width: 50%;
  background-color: brown;
  padding: 1rem;
}

.search-box form #search-box-field {
  width: 100%;
  font-size: 2rem;
  padding: 0.3rem;
  background-color: blue;
  border: none;
  outline: none;
  text-align: center;
  border-bottom: none;
  position: relative;
  transition: all 0.5s ease-in-out;
}

.search-box form #search-box-field:focus {
  border-bottom: solid 2px #ebeeed;
}

.search-box form #search-box-field::before {
  content: "";
  width: 100%;
  height: 10px;
  background-color: yellow;
  position: absolute;
  bottom: 0;
}

.search-box form #search-box-field::placeholder {
  color: #ebeeed9f;
}

.world-clock{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%
}

.clocks-container{
  width: 70%;
  display: grid;
  justify-content: center;
  place-items: start;
  grid-template-columns: 1fr 1fr;
  background-color: grey;
  flex-wrap: wrap;
}

.clock-items{
  flex: 0 1 auto;
  display: inline-flex
}

#nepal-clock {
  height: 250px;
  width: 150px;
  padding: 2rem;
  background: red;
  border-radius: 3rem 0 0;
  background-image: 
  /* linear-gradient(45deg, rgba(41, 36, 36, 0.4)), */
    url("./imgs/nepal.png");
  background-position: center center;
  background-size: cover;
  position: relative;
  font-size: 2rem;
}

#nepal-clock::before{
  content: "";
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
  top:0;
  left:0;
  height: 250px;
  width: 150px;
  border-radius: 3rem 0;
}

#qatar-clock{
  height: 250px;
  width: 150px;
  padding: 2rem;
  /* background: red; */
  border-radius: 0 3rem 0 0;
  background-image: 
    url("./imgs/qatar.png");
  background-position: center center;
  background-size: cover;
  position: relative;
  mix-blend-mode: multiply;
}

#qatar-clock::before{
  content: "";
  background: #fff;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  position: absolute;
  bottom: -90px;
  left:0
}

#timer-clock{
  height:100px;
  width: 150px;
  background-image: url("./imgs/timer.png");
  background-position: center center;
  background-size: cover;
  position: relative;
  mix-blend-mode: multiply;
  border-top: solid 10px #051320;
}

#usa-clock{
  height:150px;
  width: 150px;
  background-image: url("./imgs/timer.png");
  border-radius: 50%;
  border-top:solid 12px #051320;
  position: absolute;
  bottom:-85px;
  left:0;
  justify-content: center;
  align-items: center;
}