@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #ebeeed;
}

body {
  font-family: "Roboto", sans-serif;
}

ul,
ul li {
  list-style-type: none;
}

a {
  color: #ebeeed;
  text-decoration: none;
}

.main-container {
  height: 100vh;
  width: 100%;
  background: #051320;
  overflow: hidden;
}

.inner-container {
  display: grid;
  grid-template-areas:
    "theader"
    "mcontent"
    "qfooter";
  padding: 2rem;
}

.top-header {
  grid-area: theader;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-content {
  grid-area: mcontent;
}

.quote-footer {
  grid-area: qfooter;
}

.header-links {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-links .link-item {
  /* background-color: brown; */
  margin-right: 1.2rem;
  padding: 0.2rem 0.4rem;
  transition: all 0.1s ease-in-out;
}

.header-links .link-item:hover {
  text-decoration: underline;
}

.quote-footer {
  /* background: red; */
  color: #ebeeed;
  margin-top: auto;
  text-align: center;
}

.quote-footer .quotation {
  font-style: italic;
}

.quote {
  /* background: brown; */
  display: inline-block;
  padding: 1rem;
  font-size: 1rem;
}

.main-content {
  /* background: green; */
  padding: 1.5rem 1rem;
  display: flex;
  gap: 1rem;
}

.main-content .world-clock,
.main-content .search-field {
  width: 50%;
  /* background-color: brown; */
  padding: 1rem;
}

.search-box form {
  border-bottom: solid 2px #ebeeed;
}

.search-box form #search-box-field {
  width: 100%;
  font-size: 2rem;
  padding: 0.3rem;
  /* background-color: blue; */
  background: transparent;
  border: none;
  /* border-bottom: solid 2px #ebeeed; */
  outline: none;
  text-align: center;
  border-bottom: none;
  position: relative;
  transition: all 0.5s ease-in-out;
}

/* .search-box form #search-box-field:focus {
  border-bottom: solid 2px #ebeeed;
} */

.search-box form #search-box-field::before {
  content: "";
  width: 100%;
  height: 10px;
  /* background-color: yellow; */
  position: absolute;
  bottom: 0;
}

.search-box form #search-box-field::placeholder {
  color: #ebeeed43;
}

.world-clock {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
}

.clocks-container {
  width: 70%;
  display: grid;
  justify-content: center;
  place-items: start;
  grid-template-columns: 1fr 1fr;
  /* background-color: grey; */
  flex-wrap: wrap;
}

.clock-items {
  flex: 0 1 auto;
  /* display: inline-flex; */
}

#nepal-clock {
  height: 250px;
  width: 150px;
  padding: 2rem;
  border-radius: 3rem 0 0 0;
  background: 
  linear-gradient(45deg, rgba(41, 36, 36, 1), rgba(41, 36, 36, 0.3)),
  url("./imgs/nepal.png") center center / cover no-repeat;
  font-size: 2rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#qatar-clock {
  height: 250px;
  width: 150px;
  padding: 2rem;
  /* background: red; */
  border-radius: 0 3rem 0 0;
  background:  linear-gradient(45deg, rgba(41, 36, 36, 1), rgba(41, 36, 36, 0.3)),
  url("./imgs/qatar.png");
  background-position: center center;
  background-size: cover;
  position: relative;
}

/* #qatar-clock::before {
  content: "";
  background: #fff;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  position: absolute;
  bottom: -90px;
  left: 0;
} */

#timer-clock {
  height: 100px;
  width: 150px;
  background:  linear-gradient(45deg, rgba(41, 36, 36, 1), rgba(41, 36, 36, 0.3)),url("./imgs/timer.png");
  background-position: center center;
  background-size: cover;
  position: relative;
  border-top: solid 10px #051320;
  border-radius: 0 0 3rem 0;
}

#usa-clock {
  height: 150px;
  width: 150px;
  background-image:  linear-gradient(45deg, rgba(41, 36, 36, 1), rgba(41, 36, 36, 0.3)),url("./imgs/usa.png");
  background-position: center center;
  background-size: cover;
  border-radius: 50%;
  box-shadow: 0px -15px 0px #051320;
  position: absolute;
  bottom: -100px;
  left: 0;
  justify-content: center;
  align-items: center;
}

#nepal-date-year{
  font-size: 0.9rem;
}

.nepal-time{
  font-size: 4rem;
  line-height: 0.9;
}