*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #EBEEED;
}

body {
  background-color: red;
}

ul, ul li{
    list-style-type: none;
}

a{
    color: #EBEEED;
    text-decoration: none;
}

.main-container {
  height: 100vh;
  width: 100%;
  background: #051320;
}

.inner-container {
  display: grid;
  grid-template-areas:
    "theader"
    "mcontent"
    "qfooter";
    padding: 2rem;
}

.top-header {
  grid-area: theader;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background: red; */
}

.main-content {
  grid-area: mcontent;
}

.quote-footer {
  grid-area: qfooter;
}

.header-links{
    display: flex;
    justify-content: center;
    align-items: center;
}


.header-links .link-item{
    background-color: brown;
    margin-right: 1.2rem;
    padding: 0.2rem 0.4rem;
    transition: all 0.1s ease-in-out;
}

.header-links .link-item:hover{
    text-decoration: underline;
    
}

.quote-footer{
  background: red;
  color: #EBEEED;
  margin-top: auto;
}

.quote-footer .quotation{
  font-style: italic;
}

.main-content{
  background: green;
  padding: 1.5rem 1rem;
  display: flex;
  gap: 1rem;
}

.main-content .world-clock, .main-content .search-field{
  width: 50%;
  background-color: brown;
  padding: 1rem;
}

.search-box form #search-box-field{
  width: 100%;
  font-size: 2rem;
  padding: 0.3rem;
  background-color: blue;
  border: none;
  outline: none;
  text-align: center;
  border-bottom: none;
  position: relative;
  transition: all 0.5s ease-in-out;
}

.search-box form #search-box-field:focus{
  border-bottom: solid 2px #EBEEED;

}

.search-box form #search-box-field::before{
  content:"";
  width: 100%;
  height: 10px;
  background-color: yellow;
  position: absolute;
  bottom:0;

}


.search-box form #search-box-field::placeholder{
  color: #ebeeed9f
}
